// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table{
  display: table;

}

.book-list{
  display: table-row;
}

.CreateBook{
  flex-direction:columu;
}


.edit-updateBook{
  flex-direction:columu;
}